<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @person.first_name %>,</h1>
    <p>
      Our amazing adding machine has calculated that you owe us some money for bar bills. Yay!<br>
    </p>
    <p>
      Please pay your outstanding balance of <%= @person.balance %> to account number 12-1234-123456-00.
    </p>
    <p>Thanks for paying and have a great day!</p>
  </body>
</html>