/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body { background-color: #fff; }

#wrapper {
	width:800px;
	margin: 0 auto;
}

h1 { text-align:center; }

.navbar {
	margin:0 auto;
	display:table;
}

.nav-pills li {
	display:inline;
	margin:0 auto;
}

.nav-pills li a:hover {
	background-color:#8A6ACC;
	color:#fff;
}


.form-inline {
	margin:0 auto;
	display:table;
}

.form-group {
	padding: 10px;
}

.btn-primary {
	background-color:#8A6ACC;
	border:none;
}

.btn-primary:hover {
	background-color:#D494FF;
}

a {
	color:#8A6ACC;
}

a:hover {
	color:#D494FF;
}